body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none !important;
}

.footerEl {
  color: 'green' !important;
}
.activeFooterEl {
  color: 'black';
}
.ck.ck-reset {
  width: 500px !important;
  margin: 20px 0 !important;
}
.collection_description::-webkit-scrollbar,
.collection_item_custom_fields_box::-webkit-scrollbar {
  width: 10px;
}
.collection_description::-webkit-scrollbar-track,
.collection_item_custom_fields_box::-webkit-scrollbar-track {
  background-color: transparent;
}
.collection_description::-webkit-scrollbar-thumb,
.collection_item_custom_fields_box::-webkit-scrollbar-thumb {
  background-color: grey;
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
  border-radius: 40px;
}
.collection_description,
.collection_item_custom_fields_box {
  scrollbar-width: thin;
  scrollbar-color: #d4aa70 #e4e4e4;
}

@media only screen and (max-width: 667px) {
  .ck.ck-reset {
    width: 280px !important;
  }
}
@media only screen and (min-width: 740px) and (max-width: 800px) {
  .ck.ck-reset {
    width: 300px !important;
  }
}
@media only screen and (min-width: 810px) and (max-width: 915px) {
  .ck.ck-reset {
    width: 420px !important;
  }
}
@media only screen and (min-width: 916px) and (max-width: 1180px) {
  .ck.ck-reset {
    width: 450px !important;
  }
}
